[Desktop Entry]
Name=Cisco Packet Tracer
Exec=env WINEPREFIX="/Users/mohamedkone/.wine" wine C:\\\\Program\\ Files\\\\Cisco\\ Packet\\ Tracer\\ 7.1\\\\bin\\\\PacketTracer7.exe 
Type=Application
StartupNotify=true
Path=/Users/mohamedkone/.wine/dosdevices/c:/Program Files/Cisco Packet Tracer 7.1/bin
Icon=F2B4_PacketTracer7.0
